@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Work+Sans&display=swap');

.add-container {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: #2F2926;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add-graphic {
    width: 18px !important;
}

.menu-item-container {
    display: flex;  
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.menu-item-content {
    display: flex;  
    flex-flow: column;
    flex-grow: 1;
}

.menu-item-header {
    font-family: 'PT Serif', serif;
    display: flex;  
    flex-flow: row wrap;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    color: #2F2926;
}

.menu-item-line-container {
    display: flex;
    flex-grow: 1;
    padding: 7px;
}

.menu-item-line {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
    width: 100%;
    position: relative;
}

.menu-item-description {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #2F2926;
}

