@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.order-modal {
    width: calc(100% - 24px);
    height: calc(100vh - 84px);
    left: 12px;
    top: 72px;
    background-color: white;
    position: absolute;
    border-radius: 3px;
    z-index: 101;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.order-modal__content {
    padding: 20px;
}

.order-modal-backdrop {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.order-modal-arrow {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    right: 24px;
    top: -10px;
}

.make-order-button {
    width: 248px;
    height: 55px;
    background: #2F2926;
    border-radius: 50px;
    font-family: 'PT Serif', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.order-link {
    text-decoration: none;
}